.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 5px;
    img {
      width: 100%;
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .slick-next {
    right: -66px;
    left: auto;
  }
  
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
    margin: 0 10px;
    &.slick-active {
      button {
        border: 2px solid #c70101; /* Обводка точки */
        background-color: #c70101; 
      }
    }
    button {
      font-size: 0; /* Убрать текст */
      width: 5px; /* Ширина точки */
      height: 15px; /* Высота точки */
      border-radius: 100%; /* Круглая форма */
      border: 2px solid #c70101;
      background-color: #fff;
    cursor: pointer;
  }
      list-style: none;
    }
  }

}
